option_settings:
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: JVM_OPTIONS
    value: "-Djava.awt.headless=true -XX:+UseG1GC -XX:+UseStringDeduplication -XX:+UseCompressedOops -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m -Djava.security.egd=file:/dev/./urandom"
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static/
    value: /var/app/current/static/
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SERVER_PORT
    value: 5000
  - namespace: aws:elasticbeanstalk:environment
    option_name: JBP_CONFIG_SPRING_AUTO_RECONFIGURATION
    value: '{enabled: false}'
  - namespace: aws:elasticbeanstalk:container:tomcat:users
    option_name: "testuser"
    value: "password,admin"
container_commands:
  01_remove_old_files:
    command: "find /var/app/current/ -maxdepth 1 -name 'app.jar*' -type f -delete"
    ignoreErrors: true
  02_copy_files:
    command: "cp /var/app/staging/dependencies/* /var/app/current/ && cp /var/app/staging/app.jar /var/app/current/"
  03_set_permissions:
    command: "chmod 755 /var/app/current/*"
files:
  "/var/app/current/Dockerfile": 
    mode: "000755"
    owner: "root"
    group: "root"
    content: |
      FROM openjdk:17-jdk-alpine3.13
      VOLUME /tmp
      ADD target/*.jar app.jar
      ENTRYPOINT ["java", "-jar", "app.jar"]
  "/var/app/current/Dockerrun.aws.json":
    mode: "000755"
    owner: "root"
    group: "root"
    content: |
      {
        "AWSEBDockerrunVersion": 2,
        "containerDefinitions": [
          {
            "name": "myapp",
            "image": "myapp",
            "portMappings": [
              {
                "hostPort": 80,
                "containerPort": 5000
              }
            ],
            "essential": true,
            "memoryReservation": 256
          }
        ]
      }
